<launch>

<!-- Launch old Adeept Robot URDF -->
<!-- 
	<group ns="R1">
		<param name="tf_prefix" value="R1_tf" />
		<include file="$(find adeept_awr_gazebo)/launch/adeept_awr_urdf.launch">
			<arg name="init_pose" value="-x 5.5 -y 2.5 -z 0.2 -R 0.0 -P 0.0 -Y -1.57" />
			<arg name="robot_name"  value="R1" />
		</include>
		<include file="$(find enph353_utils)/launch/desktop.launch"/>
	</group> 
-->

<!-- Launch new Robbie URDF -->
<!--
	<group ns="B1">
		<param name="tf_prefix" value="B1_tf" />
		<include file="$(find robbie)/launch/robbie.launch">
			<arg name="init_pose" value="-x 5.5 -y 2.5 -z 0.2 -R 0.0 -P 0.0 -Y -1.57" />
			<arg name="robot_name"  value="B1" />
		</include>
		Add teleop_keyboard controller
		<include file="$(find enph353_utils)/launch/desktop.launch"/>
	</group>
-->

<!-- Launch cam data -->
	<!-- <group ns="B1">
		<param name="tf_prefix" value="B1_tf" />
		<include file="$(find camera_data_collector)/launch/cam_data.launch">
			<arg name="init_pose" value="-x 5.5 -y 2.5 -z 0.2 -R 0.0 -P 0.0 -Y -1.57" />
			<arg name="robot_name"  value="B1" />
		</include>
	</group> -->

<!-- Launch thruster test -->
	<!-- <group ns="B1">
		<param name="tf_prefix" value="B1_tf" />
		<include file="$(find flight_test)/launch/flight_test.launch">
			<arg name="init_pose" value="-x 5.5 -y 2.5 -z 0.2 -R 0.0 -P 0.0 -Y -1.57" />
			<arg name="robot_name"  value="B1" />
		</include>
	</group>

</launch> -->

<!-- Launch quadcopter -->
	<group ns="B1">
		<param name="tf_prefix" value="B1_tf" />
		<include file="$(find drone_internals)/launch/drone_launch.launch">
			<arg name="init_pose" value="-x 5.5 -y 2.5 -z 0.125 -R 0.0 -P 0.0 -Y -1.57079632679" />
			<arg name="robot_name"  value="B1" />
		</include>
	</group>

</launch>