<launch>
  <arg name="robot_name"/>
  <arg name="init_pose"/>
  <arg name="model" default="$(find camera_data_collector)/urdf/cam_data.xacro"/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="$(arg init_pose) -urdf -model $(arg robot_name) -param robot_description" respawn="false" output="screen" />

  <node pkg="camera_data_collector" type="cam_sampling.py" name="cam_sampling" output="screen" />

</launch>
